.about-contact-section {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 4em;

  gap: 3em;
}

.about-me {
  width: 50%;
  font-size: 1.25em;
  /* background-color: #111827; */
  padding: 1em;
  font-size: 1.25em;
  border-radius: 1em;
}

.contact {
  width: 50%;
  /* background-color: #111827; */
  padding: 1em;
  font-size: 1.25em;
  border-radius: 1em;
}

.form-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5em;
  font-size: 1.25em;
  color: white;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  margin-bottom: 0.5em;
  gap: 1em;
}

h1 {
  width: 100%;
}
p {
  width: 100%;
}

input,
textarea,
button {
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  height: 2.25em;
  background-color: rgba(255, 255, 255, 0.1);

  color: aliceblue;
  box-shadow:
    rgba(255, 255, 255, 0.5) 0px 0px 0px 1px inset,
    rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.description {
  line-height: 2em;
}

input::placeholder,
textarea::placeholder {
  color: aliceblue;
}

textarea {
  resize: none;
  height: 15dvh;
}

input:focus,
textarea:focus {
  outline: none;
}

button {
  width: 50%;
  background-color: whitesmoke;
  color: black;
  font-size: 1.25em;
  transition:
    background-color 0.1s ease-in,
    transform 0.1s ease-out;
  font-family: "Poppins";
}

button:hover {
  filter: brightness(125%);
  transform: scale(1.03);
}

button:active {
  transform: scale(0.98);
}

.form-shape {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
}

@media (min-width: 1025px) {
  .form-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    font-size: 1.25em;
    color: white;
  }

  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
  }

  input,
  textarea,
  button {
    /* width: 50%; */
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    height: 2.25em;
  }
  textarea {
    resize: none;
    height: 25dvh;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  button {
    background-color: #1193d4;
    color: white;
    font-size: 1.25em;
    transition:
      background-color 0.1s ease-in,
      transform 0.1s ease-out;
    align-self: center;
  }
}

@media (max-width: 600px) {
  .about-contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0em;
    width: 100%;
    gap: 3em;
  }

  .about-me {
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  .form-shape {
    align-items: center;
  }
}
