<app-header></app-header>
<div>
  <section>
    <h1>My work</h1>
    <p>
      A selection of my recent projects, showcasing my skill and experience in
      software development
    </p>
  </section>

  <section class="featured-projects">
    <div class="projects">
      <div class="project">
        <img
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuDvmJWB-XPR9pzUnO-mDlKms7xxuOvVwzNMHATfaCqqiesaDRutPmmkHnKx7zXiqiYeod8TXN0SEAssTdjNL5nvX0znSwR_XQMGE9VwRA2CyfGioHT8-_cc04fCOJIL-0vH7wAaf9wCTWoFZ0RwN8ZB4E_sy-GhvrgIHwHEx0BfuuNjj8H_a7izN_DIDOlIrBOJmXX2DqhTYUFKiWT08sCNXSvlyYBZcSQYjUlA9ZnWMW49LPunS3P2J2kQhXbhR-OTbU0E7j-pB5BR"
          alt=""
        />
        <h3>Project Alpha</h3>
        <p>A cutting-edge web application for data analysis</p>
        <div class="btns">
          <button>View Project</button>
          <button>GitHub</button>
        </div>
      </div>
      <div class="project">
        <img
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuDvmJWB-XPR9pzUnO-mDlKms7xxuOvVwzNMHATfaCqqiesaDRutPmmkHnKx7zXiqiYeod8TXN0SEAssTdjNL5nvX0znSwR_XQMGE9VwRA2CyfGioHT8-_cc04fCOJIL-0vH7wAaf9wCTWoFZ0RwN8ZB4E_sy-GhvrgIHwHEx0BfuuNjj8H_a7izN_DIDOlIrBOJmXX2DqhTYUFKiWT08sCNXSvlyYBZcSQYjUlA9ZnWMW49LPunS3P2J2kQhXbhR-OTbU0E7j-pB5BR"
          alt=""
        />
        <h3>Project Beta</h3>
        <p>A cutting-edge web application for data analysis</p>
        <div class="btns">
          <button>View Project</button>
          <button>GitHub</button>
        </div>
      </div>
      <div class="project">
        <img
          src="https://lh3.googleusercontent.com/aida-public/AB6AXuDvmJWB-XPR9pzUnO-mDlKms7xxuOvVwzNMHATfaCqqiesaDRutPmmkHnKx7zXiqiYeod8TXN0SEAssTdjNL5nvX0znSwR_XQMGE9VwRA2CyfGioHT8-_cc04fCOJIL-0vH7wAaf9wCTWoFZ0RwN8ZB4E_sy-GhvrgIHwHEx0BfuuNjj8H_a7izN_DIDOlIrBOJmXX2DqhTYUFKiWT08sCNXSvlyYBZcSQYjUlA9ZnWMW49LPunS3P2J2kQhXbhR-OTbU0E7j-pB5BR"
          alt=""
        />
        <h3>Project Gamma</h3>
        <p>A cutting-edge web application for data analysis</p>
        <div class="btns">
          <button>View Project</button>
          <button>GitHub</button>
        </div>
      </div>
    </div>
  </section>
</div>
